.smallImage {
    width: 100px;
}

.no-link:hover {
    text-decoration: none;
}

.parameterTable .col1 {
}

.parameterTable .col2 {
}

.parameterTable .col3 {
    width: 60px;
    text-align: center;
}

.floatRight {
    float: right
}

.limitedWidth {
    width: 300px;
    text-overflow: ellipsis
}

.true {
    background:#449d44;
    color:white;
}

.false{
    background:#A00000;
    color:white;
}
